.hover-card {
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .hover-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  
  .card-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
  }
  
  .overlay-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hover-card:hover .overlay-icon {
    opacity: 1;
  }
  
  .play-icon {
    font-size: 48px;
    color: rgba(255, 255, 255, 0.9);
  }

  .card-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  