.cs_brands.cs_style_3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px 70px;
  background-color: #fff;
  box-shadow: 0px 4px 21px 1px rgba(48, 123, 196, 0.1);
  padding: 70px;
}

@media (max-width: 1400px) {
  .cs_brands.cs_style_3 {
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .cs_brands.cs_style_3 {
    gap: 30px;
    padding: 70px 40px;
  }
}


.cs_brands .cs_brand img {
  width: 200%;
  height: auto;
  transition: all 0.3s ease;
}


.cs_brands .cs_brand img:hover {
  transform: scale(3);
}
